{% extends 'base-admin.html.twig' %}

{% block title %}Categoryreclamation index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoryreclamation in categoryreclamations %}
            <tr>
                <td>{{ categoryreclamation.nom }}</td>
                <td>
                    <a href="{{ path('app_categoryreclamation_show', {'id': categoryreclamation.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_categoryreclamation_edit', {'id': categoryreclamation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoryreclamation_new') }}">Create new</a>
{% endblock %}
