{% extends 'base-front.html.twig' %}

{% block title %}New Avis{% endblock %}




{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <h1>Create new Avis</h1>
    <br>
   
    {{ include('avis/_form-front.html.twig') }}

    <a href="{{ path('app_avis_index_front') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
