{# {% extends 'base.html.twig' %}

{% block title %}New Tournois{% endblock %}

{% block body %}
    <h1>Create new Tournois</h1>

    {{ include('tournois/_form.html.twig') }}

    <a href="{{ path('app_tournois_index') }}">back to list</a>
{% endblock %} #}

{% extends 'base-admin.html.twig' %}

{% block body %}

    {{ include('tournois/_form.html.twig') }}

    <a href="{{ path('app_tournois_index') }}">back to list</a>
{% endblock %}
