<form action= "{{ path('searchEmail', {'email': "nour.boujmil@esprit.tn"}) }}" method="post">
<input type="text" id="name" name="name"> 
<button type="submit" class="btn btn-primary"  >Inscription</button>
